.statistics {
    position: relative;
    overflow: hidden;
}
.statistics-container {
    max-width: 88%;
    margin: 0 auto;
    margin-top: 144px;
    display: flex;
    background-color: #F6FFF6;
    border: 1px solid black;
    border-radius: 29px;
    border-color: black;
}
.statistics-container ul {
    padding: 100px;
    display: flex;
    align-items: center;
    flex-grow: 1;
    justify-content: center;
    gap: 5%;
}
.statistics-container ul li {
    display: flex;
    gap: 21px;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}
.value {
    font-family: 'Anton';
    color: #64C661;
    font-size: 128px;
    line-height: 90%;
}
.title {
    font-family: 'Gotham Black';
    color: #64C661;
    font-size: 30px;
    text-align: center;
    max-width: 287px;
}

@media (max-width: 1628px) {
    .divider {
        display: none;
    }
}